<!--Our Header Section-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Header</title>
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
    <header>
        <!-- Nav Bar -->
        <nav>
            <ul>
                <li><img src="logo.jpg"></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">BANNER</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#">TESTIMONIAL</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">FOOTER</a></li>

            </ul>
            <input class="btn" type="button" value="Sign in">
            <input class="btn" type="button" value="Sign Up">
        </nav>
    </header>
</body>

</html>