<section class="features" id="features">
    <h1 class="heading"> Our <span>Features</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/img/img1.jpg">
            <h3>Cook</h3>
            <p>
                Learn about the key requirements, duties, responsibilities, and skills that should be in a restaurant cook job description.
            </p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="box">
            <img src="../../assets/img/img2.png">
            <h3>Waiter</h3>
            <p>
                Learn about the key requirements, duties, responsibilities, and skills that should be in a restaurant cook job description.
            </p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="box">
            <img src="../../assets/img/img3.jpg">
            <h3>Manager</h3>
            <p>
                Learn about the key requirements, duties, responsibilities, and skills that should be in a restaurant cook job description.
            </p>

            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>