<div class="testimonials">
    <div class="inner">
        <h1>Testimonials</h1>
        <div class="border"></div>

        <div class="row">
            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/img/img5.jpg" alt="abc">
                    <div class="class">Full name</div>
                    <p>Web designers generally have nothing to do with creating content for their projects. Even so, the look of a site can be incomplete if no words are included. Web designers need to find ways to incorporate copyright-free content into
                        their designs to provide clients with a look that is as finished as possible.

                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/img/img7.jpg" alt="abc">
                    <div class="class">Full name</div>
                    <p>Web designers generally have nothing to do with creating content for their projects. Even so, the look of a site can be incomplete if no words are included. Web designers need to find ways to incorporate copyright-free content into
                        their designs to provide clients with a look that is as finished as possible.

                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/img/img8.png" alt="abc">
                    <div class="class">Full name</div>
                    <p>Web designers generally have nothing to do with creating content for their projects. Even so, the look of a site can be incomplete if no words are included. Web designers need to find ways to incorporate copyright-free content into
                        their designs to provide clients with a look that is as finished as possible.

                    </p>
                </div>
            </div>


        </div>
    </div>